<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />

    <style>
      :root {
        --accent-color: {{ config.extra.accent }};
        --accent-color-light: {{ config.extra.accent_light }};
      }
    </style>

    <meta name="theme-color" content="{{ config.extra.accent }}" />

    {% if config.extra.profile_small %}
      <link rel="icon" href="{{ resize_image(path=config.extra.profile_small, width=48, height=48, op="fill") }}" />
      <link rel="apple-touch-icon" sizes="48x48" href="{{ resize_image(path=config.extra.profile_small, width=48, height=48, op="fill") }}" />
      <link rel="apple-touch-icon" sizes="72x72" href="{{ resize_image(path=config.extra.profile_small, width=72, height=72, op="fill") }}" />
      <link rel="apple-touch-icon" sizes="96x96" href="{{ resize_image(path=config.extra.profile_small, width=96, height=96, op="fill") }}" />
      <link rel="apple-touch-icon" sizes="144x144" href="{{ resize_image(path=config.extra.profile_small, width=144, height=144, op="fill") }}" />
      <link rel="apple-touch-icon" sizes="192x192" href="{{ resize_image(path=config.extra.profile_small, width=192, height=192, op="fill") }}" />
      <link rel="apple-touch-icon" sizes="256x256" href="{{ resize_image(path=config.extra.profile_small, width=256, height=256, op="fill") }}" />
      <link rel="apple-touch-icon" sizes="384x384" href="{{ resize_image(path=config.extra.profile_small, width=384, height=384, op="fill") }}" />
      <link rel="apple-touch-icon" sizes="512x512" href="{{ resize_image(path=config.extra.profile_small, width=512, height=512, op="fill") }}" />
    {% endif %}

    {% if config.extra.gtag %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.gtag }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ config.extra.gtag }}');
      </script>
    {% endif %}

    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary">

    {% if config.twitter %}
      <meta name="twitter:creator" content="@{{ config.twitter }}">
      <meta name="twitter:site" content="@{{ config.twitter }}">
    {% endif %}

    {% if page.extra.thumbnail %}
    <meta property="og:image" content="{{ get_url(path=page.path ~ page.extra.thumbnail) }}">
    {% elif config.extra.default_og_image %}
    <meta property="og:image" content="{{ get_url(path=config.extra.default_og_image) }}">
    {% endif %}

    {% block description %}
      {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        <meta name="twitter:description" content="{{ page.description }}">
      {% else %}
        <meta name="description" content="{{ config.description }}" />
        <meta name="twitter:description" content="{{ config.description}}">
      {% endif %}
    {% endblock description %}

    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ config.title }}">
    {% endif %}

    {% for link in config.extra.nav %}
      <link rel="prerender" href="{{ link.path }}" />
    {% endfor %}

    <link rel="prefetch" href="{{ resize_image(path=config.extra.profile_small, width=50, height=50, op="fill") }}" />

    <title>
      {% block title %}
        {% if page.title %}
          {{ page.title }}
        {% else %}
          {{ config.title }}
        {% endif %}
      {% endblock title %}
    </title>

    {% block head %}{% endblock head %}
    {% block styles %}
      <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
    {% endblock styles %}
    {% block posthead %}{% endblock posthead %}
  </head>
  <body>
    {% block header %}
      <header>
        <a class="profile-icon" href="/">
          <img src="{{ resize_image(path=config.extra.profile_small, width=50, height=50, op="fill") }}" alt="profile picture">
        </a>
        <nav>
          {% for link in config.extra.nav %}
            <a href="{{ link.path }}">{{ link.name }}</a>
          {% endfor %}
        </nav>
      </header>
    {% endblock header %}
    <main>
    {% block content %} {% endblock content %}
    </main>
  </body>
</html>
